body{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: cyan;
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
}

.card{
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 450px;

}
.logo{
  margin-bottom: 15px;
}
.react-logo{
  font-size: 60px;
  color: cyan;
  animation: spin 8s linear infinite;
}
h2{
  margin-bottom: 15px;
}
ul{
  text-align: left;
  padding-left: 20px;
 
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@keyframes spin {
  from{transfrom:rotate(0deg);}
  to{transform: rotate(360deg);}
  
}
